{% extends "base.html" %}

{% block header %}
<p><a href=".."><-</a>&ensp; {{ page.slug }}</p>
<h1>
    Teaching
</h1>
{% endblock header %}

{% block content %}
<ul class="article-list">
    {% set classes = load_data(path="content/teaching/teaching.yml") %}
    {% for class in classes %}
    <li class="article-list-item">
        <a href="{{ class.link }}" title="{{ class.title }}">
            <h3>
              {{ class.title }}
              <span class="icon icon-arrow-right"></span>
            </h3>
        </a>
        <p>{{ class.description }}</p>
        <div class="article-list-footer">
            <span class="article-list-date">
                  {{ class.date }}
            </span>
            <span class="article-list-divider">-</span>
            <div class="article-list-tags">
                {{ class.school }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}